
dataProcessing/ordinances/*
dataProcessing/ordinances/*/*
dataProcessing/vectorData/*
dataProcessing/.env
dataProcessing/*.zip

# db/*git 

__pycache__/
*/__pycache__/
*.py[cod]
*.DS_Store
*/.DS_Store

raw_legislations
raw_judgments

.env

legislations
judgments
legislations/*
judgments/*
*.zip
