.vscode
.gradio

dataProcessing/ordinances/*
dataProcessing/ordinances/*/*
dataProcessing/vectorData/*
dataProcessing/.env
dataProcessing/*.zip

*.lock
*.parquet
*_tmp.json
*_partial.json
dataProcessing/generateCaseMetas/cases_meta.json

# db/*git 
db/lancedb

__pycache__/
*/__pycache__/
*.py[cod]
*.DS_Store
*/.DS_Store

raw_legislations
raw_judgments

.env

legislations
judgements
*.zip

legislations_chunks
judgements_chunks

cloudflared.deb

db/_temp
db/temp.txt
lqb

eval/*.json